{%  extends 'users/base.html' %}

{% block body_block %}

<style>

    #main {
      width: 100%;
      background-color: skyblue;
    }
    h1 {
      margin: 20px;
        display: inline-block;
    }
    a {
      float: right;
      margin: 20px;
      width: 100px;
    }

</style>

<div id="main">
	<h1>Admin</h1>
	<a class="btn btn-sm btn-danger" href="{% url 'logout' %}">Logout</a>
</div>

<br>

<div class="row">
	<div class="col-md-6">
		<h5>USER PROFILES</h5>

		<div class="card card-body">
			<a class="btn btn-primary  btn-sm" style="position: absolute; left: 30%;" href="{% url 'users:register' %}">Create User</a>
			<br><br><br>

			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Username</th>
                    <th>Email ID</th>
                    <th>Club</th>
					<th>Role</th>
					<th>Delete</th>
				</tr>

				{% for person in users %}
					<tr>
						<td>{{person.name}}</td>
						<td>{{person.user.username}}</td>
                        <td>{{person.user.email}}</td>
                        <td>{{person.club}}</td>
						<td>{{person.role}}</td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_user' person.id %}">Delete</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-6">
		<h5>REQUESTS</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Date Requested</th>
					<th>Item</th>
					<th>Member</th>
                    <th>Status</th>
                    <th>Club</th>
				</tr>

				{% for req in reqs %}
					<tr>
                        <td>{{req.timestamp_placed}}</td>
						<td>{{req.item.name}}</td>
						<td>{{req.member.name}}</td>
						<td>{{req.status}}</td>
                        <td>{{req.member.club}}</td>
					</tr>
				{% endfor %}


			</table>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-md-6" style="position: absolute; left: 20px;">
		<h5>CLUBS</h5>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm" style="position: absolute; left: 30%;" href="{% url 'create_club' %}">Create Club</a>
			<br><br><br>

			<table class="table table-sm">
				<tr>
					<th>Name</th>
				</tr>

				{% for club in clubs %}
					<tr>
						<td>{{club.name}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-6" style="position: absolute; right: 0px;">
		<h5>ITEMS</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Quantity</th>
                    <th>Club</th>
				</tr>

				{% for item in items %}
					<tr>
						<td>{{item.name}}</td>
						<td>{{item.quantity}}</td>
						<td>{{item.club}}</td>
					</tr>
				{% endfor %}


			</table>
		</div>
	</div>


{% endblock %}
