{%  extends 'users/base.html' %}

{% block body_block %}

<br>

<div class="row">
<div class="col-md-6" style="left: 25px;">
    <h5>USER PROFILES</h5>
    <hr>
    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email ID</th>
            </tr>

            {% for person in users %}
                <tr>
                    <td>{{person.name}}</td>
                    <td>{{person.user.username}}</td>
                    <td>{{person.user.email}}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>

	<div class="col-md-6">
		<h5>REQUESTS</h5>

        {% if items_for_alert %}

    		<p>Items with more requests than quantity : </p>
            {% for item in items_for_alert %}
                <ul>{{ item }}</ul>
            {% endfor %}

        {% endif %}

		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Date Requested</th>
					<th>Item</th>
					<th>Member</th>
                    <th>Status</th>
                    <th>Club</th>
					<th>Accept</th>
                    <th>Deny</th>
				</tr>

				{% for req in reqs %}
					<tr>
                        <td>{{req.timestamp_placed}}</td>
						<td>{{req.item.name}}</td>
						<td>{{req.member.name}}</td>
						<td>{{req.status}}</td>
                        <td>{{req.member.club}}</td>
                        {% if req.item.quantity <= 0 %}
                            <td> Out of Stock </td>

                        {% elif req.status == 'Awaiting Approval' %}
    						<td><a class="btn btn-sm btn-info" href="{% url 'accept_request' req.id %}">Accept</a></td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'deny_request' req.id %}">Deny</a></td>

                        {% endif %}
					</tr>
				{% endfor %}


			</table>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-6" style="position: absolute; left: 10px;">
		<h5>ITEMS</h5>
        <a class="btn btn-primary btn-sm" style="position: absolute; left: 30%;" href="{% url 'create_item' memberProfile.club_id %}">Add Item</a>
        <br><br><br>

        <div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Quantity</th>
                    <th>Club</th>
				</tr>

				{% for item in items %}
					<tr>
						<td>{{item.name}}</td>

                        {% if item.quantity <= 0 %}
                            <td>Out of Stock<td>
                        {% else %}
						    <td>{{item.quantity}}</td>
                        {% endif %}

						<td>{{item.club}}</td>
					</tr>
				{% endfor %}


			</table>
		</div>
	</div>
</div>

{% endblock %}
